@model BSIActivityManagement.DAL.AMCustomer

@{
    ViewBag.Title = "مشاهده اطلاعات مشتری";
    Layout = "~/Views/Shared/_PersianLayoutLogin.cshtml";
    BSIActivityManagement.ViewModel.UnitProcessActObjectViewModel UPAObj = ViewBag.UPA;
}

<div class="jumbotron">
    <div class="row headerjumb">
        <div class="col-md-4">
            <div class="panel panel-default LinkPanel main-panel-circle">
                <div class="panel-body LinkPanelBody main-panel-circle">
                    <img class="Image-Link-250 img-circle" src="@Url.Action("GetImage", "Home", new { id = UPAObj.Activity.Type.Image.Id })" />
                </div>
                <div class="panel-footer BMitra text-center TitrShadow footer-header  panel-circle  main-panel-circle">
                    @UPAObj.Activity.Type.Name
                </div>
            </div>
        </div>
        <div class="col-md-8 text-center">
            <h2 class="BTitrBold TitrShadow fontkheilibozorg text-center">
                @UPAObj.Activity.Name در فرآیند <span class="FontKheiliBozorg title-bold">@UPAObj.Process.Name</span> از @UPAObj.Unit.Name
            </h2><hr style="color:black;" />
            <h3 class="text-center BTitrBold TitrShadow">@ViewBag.Title</h3>
            <hr />
        </div>
    </div>
    <a style="position:absolute;left:10px;top:10px;" href="@Url.Action("Index", "InstallmentsFollowUp", new { UnitId = UPAObj.Unit.Id, ProcessId = UPAObj.Process.Id, ActivityId = UPAObj.Activity.Id })"><i class="fa fa-2x fa-arrow-circle-left"></i></a>
</div>

@using (Html.BeginForm("Index"))
{
    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerNumber, htmlAttributes: new { @class = "control-label col-md-2", @style = "margin-bottom:5px;" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerNumber, new { htmlAttributes = new { @class = "form-control", type = "number", dir = "ltr", @style = "display:inline;margin-bottom:5px;" } })
                <input type="submit" value="مشاهده" class="btn btn-default BTitrBold FontKoochik box-btn-shadow" style="margin-bottom:5px;" /> | <a href="@Url.Action("Index", "InstallmentsFollowUp", new { UnitId = UPAObj.Unit.Id, ProcessId = UPAObj.Process.Id, ActivityId = UPAObj.Activity.Id })" class="btn btn-default BTitrBold FontKoochik box-btn-shadow transition" style="margin-bottom:5px;">بازگشت</a>
                @Html.ValidationMessageFor(model => model.CustomerNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.Hidden("UnitId", UPAObj.Unit.Id)
        @Html.Hidden("ProcessId", UPAObj.Process.Id)
        @Html.Hidden("ActivityId", UPAObj.Activity.Id)

    </div>
}
<hr />

@if (Model != null && Model.Id != 0)
{
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading  BTitrBold TitrShadow fontkheilibozorg text-center">شماره مشتری : @Model.CustomerNumber</div>
                <div class="panel-body">
                    <dl class="dl-horizontal LineSpaceZiad">
                        <dt>نام: </dt>
                        <dd>@Model.FirstName</dd>
                        <dt>نام خانوادگی: </dt>
                        <dd>@Model.Lastname</dd>
                        <dt>نوع مشتری: </dt>
                        <dd>@BSIActivityManagement.Extensions.HtmlExtensions.CustomerEnumDisplayNameFor(Model.CustomerType)</dd>
                    </dl>
                    <hr />
                    <div class="text-center">
                        <a class="btn btn-info" href="@Url.Action("Edit", "Customer", new { UnitId = UPAObj.Unit.Id, ProcessId = UPAObj.Process.Id, ActivityId = UPAObj.Activity.Id, CustomerId = Model.Id })"><i class="fa fa-edit"></i>ویرایش اطلاعات </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading  BTitrBold TitrShadow fontkheilibozorg text-center">
                    حسابهای مشتری
                </div>
                <div class="panel-body">

                    @if (Model.AccountList.Count() > 0)
                    {
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>شماره حساب</th>
                                    <th>نوع حساب</th>
                                    <th>ویرایش</th>
                                    <th>حذف</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var acc in Model.AccountList)
                                {
                                    <tr>
                                        <td>@acc.Account.AccountNumber</td>
                                        <td>@BSIActivityManagement.Extensions.HtmlExtensions.AccountEnumDisplayNameFor(acc.Account.AccountType)</td>
                                        <td>
                                            <a class="btn btn-info" href="@Url.Action("Edit", "BankAccount", new { UnitId = UPAObj.Unit.Id, ProcessId = UPAObj.Process.Id, ActivityId = UPAObj.Activity.Id, AccountId = acc.Account.Id, CustomerId = Model.Id })"><i class="fa fa-edit"></i></a>
                                        </td>
                                        <td>
                                            <a class="btn btn-info" href="@Url.Action("Delete", "BankAccount", new { UnitId = UPAObj.Unit.Id, ProcessId = UPAObj.Process.Id, ActivityId = UPAObj.Activity.Id, id = acc.Account.Id, CustomerId = Model.Id })"><i class="fa fa-remove"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <dl class="dl-horizontal">
                            <dt></dt>
                            <dd>هیچ حسابی ثبت نشده است</dd>
                        </dl>
                    }
                    <hr />
                    <div class="text-center">
                        <a class="btn btn-info" href="@Url.Action("New", "BankAccount", new { UnitId = UPAObj.Unit.Id, ProcessId = UPAObj.Process.Id, ActivityId = UPAObj.Activity.Id, CustomerId = Model.Id })"><i class="fa fa-plus"></i> افزودن حساب </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <div class="panel panel-default">
        <div class="panel-heading  BTitrBold TitrShadow fontkheilibozorg text-center">تسهیلات مشتری</div>
        <div class="panel-body">
            @if (Model.LoanList.Count() > 0)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>شماره تسهیلات</th>
                            <th>شعبه </th>
                            <th>تاریخ</th>
                            <th>مبلغ</th>
                            <th>تعداد اقساط</th>
                            <th>ویرایش</th>
                            <th>حذف</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var loan in Model.LoanList)
                        {
                            string thisId = loan.Loan.Id.ToString();
                            <tr>
                                <td> <a class="btn btn-info" href="@Url.Action("Index", "Loan", new { UnitId = UPAObj.Unit.Id, ProcessId = UPAObj.Process.Id, ActivityId = UPAObj.Activity.Id, CustomerId = Model.Id, LoanId = loan.Loan.Id })"> @loan.Loan.LoanNumber </a></td>
                                <td>@loan.Loan.Unit.Name</td>
                                <td>@BSIActivityManagement.Extensions.DisplayExtension.DateToPersian(loan.Loan.LoanDate)</td>
                                <td id="Amount-@Html.Raw(thisId)">@Html.DisplayFor(m => loan.Loan.LoanTotalAmount)</td>
                                <td> @loan.Loan.InstallmentList.Count() </td>
                                <td>
                                    <a class="btn btn-info" href="@Url.Action("Edit", "Loan", new { UnitId = UPAObj.Unit.Id, ProcessId = UPAObj.Process.Id, ActivityId = UPAObj.Activity.Id, LoanId = loan.Loan.Id, CustomerId = Model.Id })"><i class="fa fa-edit"></i></a>
                                </td>
                                <td>
                                    <a class="btn btn-info" href="@Url.Action("Delete", "Loan", new { UnitId = UPAObj.Unit.Id, ProcessId = UPAObj.Process.Id, ActivityId = UPAObj.Activity.Id, id = loan.Loan.Id, CustomerId = Model.Id })"><i class="fa fa-remove"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <script>
                    var loanlist =  @Html.Raw(Json.Encode(Model.LoanList.Select(q => q.Loan.Id)));
                    $(document).ready(showcomma);
                    function showcomma() {
                        for(var ix=0;ix<loanlist.length;ix++){
                            $("#Amount-"+loanlist[ix]).text(addCommas($("#Amount-"+loanlist[ix]).text()));
                        }

                    }

                    function addCommas(n) {
                        var rx = /(\d+)(\d{3})/;
                        return String(n).replace(/^\d+/, function (w) {
                            while (rx.test(w)) {
                                w = w.replace(rx, '$1,$2');
                            }
                            return w;
                        });
                    }

                </script>
            }
            else
            {
                <dl class="dl-horizontal">
                    <dt></dt>
                    <dd> هیچ تسهیلاتی ثبت نشده است</dd>
                </dl>
            }
            <hr />
            <div class="row">
                <div class="col-md-12 text-left">
                    <a class="btn btn-info" href="@Url.Action("New", "Loan", new { UnitId = UPAObj.Unit.Id, ProcessId = UPAObj.Process.Id, ActivityId = UPAObj.Activity.Id, CustomerId = Model.Id })"><i class="fa fa-plus"></i> افزودن تسهیلات </a>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading BTitrBold TitrShadow fontkheilibozorg text-center">اطلاعات تماس مشتری</div>
        <div class="panel-body">
            @if (Model.AddressList.Count() > 0)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>شماره تماس</th>
                            <th>نوع شماره</th>
                            <th>نشانی</th>
                            <th>ویرایش</th>
                            <th>حذف</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var addr in Model.AddressList)
                        {
                            <tr>
                                <td>@addr.PhoneNumber</td>
                                <td>@BSIActivityManagement.Extensions.HtmlExtensions.PhoneEnumDisplayNameFor(addr.PhoneType)</td>
                                <td>@addr.Address</td>
                                <td>
                                    <a class="btn btn-info" href="@Url.Action("Edit", "Address", new { UnitId = UPAObj.Unit.Id, ProcessId = UPAObj.Process.Id, ActivityId = UPAObj.Activity.Id, CustomerId = Model.Id, AddressId = addr.Id })"><i class="fa fa-edit"></i>  </a>
                                </td>
                                <td>
                                    <a class="btn btn-info" href="@Url.Action("Delete", "Address", new { UnitId = UPAObj.Unit.Id, ProcessId = UPAObj.Process.Id, ActivityId = UPAObj.Activity.Id, CustomerId = Model.Id, id = addr.Id })"><i class="fa fa-remove"></i>  </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <dl class="dl-horizontal">
                    <dt></dt>
                    <dd> هیچ آدرسی ثبت نشده است</dd>
                </dl>
            }
            <hr />
            <div class="row">
                <div class="col-md-12 text-left">
                    <a class="btn btn-info" href="@Url.Action("New", "Address", new { UnitId = UPAObj.Unit.Id, ProcessId = UPAObj.Process.Id, ActivityId = UPAObj.Activity.Id, CustomerId = Model.Id })"><i class="fa fa-plus"></i> افزودن آدرس و تلفن </a>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading BTitrBold TitrShadow fontkheilibozorg text-center">تعهدات مشتری به عنوان ضامن</div>
        <div class="panel-body">

            @if (Model != null && Model.AsRefereeList.Count() > 0)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>شماره تسهیلات</th>
                            <th>شعبه </th>
                            <th>تاریخ</th>
                            <th>مبلغ</th>
                            <th>تعداد اقساط</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var loan in Model.AsRefereeList)
                        {
                            string thisId = loan.Loan.Id.ToString();
                            <tr>
                                <td> <a class="btn btn-info" href="@Url.Action("Index", "Loan", new { UnitId = UPAObj.Unit.Id, ProcessId = UPAObj.Process.Id, ActivityId = UPAObj.Activity.Id, CustomerId = Model.Id, LoanId = loan.Loan.Id })"> @loan.Loan.LoanNumber </a></td>
                                <td>@loan.Loan.Unit.Name</td>
                                <td>@BSIActivityManagement.Extensions.DisplayExtension.DateToPersian(loan.Loan.LoanDate)</td>
                                <td id="Amount-@Html.Raw(thisId)">@Html.DisplayFor(m => loan.Loan.LoanTotalAmount)</td>
                                <td> @loan.Loan.InstallmentList.Count() </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <dl class="dl-horizontal">
                    <dt></dt>
                    <dd>به عنوان ضامن در هیچ تسهیلاتی ثبت نشده است</dd>
                </dl>
            }
            </div>
        </div>

            }
            else if (Model != null)
            {
            <div class="panel panel-default">
                <div class="panel-heading"> جستجو برای : @Model.CustomerNumber</div>
                <div class="panel-body">
                    <dl class="dl-horizontal LineSpaceZiad">
                        <dt>نتیجه: </dt>
                        <dd>این شماره مشتری ثبت نشده است</dd>
                    </dl>
                </div>
            </div>
            }
            else if (Model == null)
            {
            <div class="panel panel-default">
                <div class="panel-heading">جستجوی اطلاعات مشتری</div>
                <div class="panel-body">
                    <dl class="dl-horizontal LineSpaceZiad">
                        <dt></dt>
                        <dd>شماره مشتری را در قسمت بالا وارد نمایید</dd>
                    </dl>
                </div>
            </div>
            }
