@model BSIActivityManagement.DAL.AMProcessType
@{
    ViewBag.Title = "افزودن یک نوع جدید برای فرآیندها";
    Layout = "~/Views/Shared/_PersianLayout.cshtml";
}
<h2 class="text-center BTitrBold TitrShadow">افزودن یک نوع جدید برای فرآیندها</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2 col-md-offset-2 BHamid FontBozorg" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-control-max BNazanin FontBozorg" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2 col-md-offset-2 BHamid FontBozorg" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control form-control-max BNazanin FontBozorg" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.ImageId)
        <hr />
        <div class="row text-center">
            <div class="col-md-offset-3 col-md-6" id="uploadattachement">
                <img src="~/Image/Link250x250.jpg" class="image-upload" />
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-offset-3 col-md-6">
                <label for="fileUpload" class="btn btn-default btn-file BTitrBold FontKoochik">
                    انتخاب تصویر <i class="fa fa-camera" aria-hidden="true"></i> <input id="fileUpload" type="file" style="display: none;" />
                </label>
                <input id="btnUploadFile" type="button" value="بارگذاری و تایید" accept="image/gif, image/jpeg" class="btn btn-default BTitrBold FontKoochik" />
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="row">
                <div class="col-md-12" style="text-align:center;">
                    <input type="submit" value="ایجاد نوع" class="btn btn-default BTitrBold FontKoochik box-btn-shadow" /> | <a href="@Url.Action("Index","SysAdmin")@Html.Raw("#AddProcessType")" class="btn btn-default BTitrBold FontKoochik box-btn-shadow transition">انصراف</a>
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">
    window.onload = function () {
        $('#btnUploadFile').on('click', function () {
            var data = new FormData();
            var files = $("#fileUpload").get(0).files;
            // Add the uploaded image content to the form data collection
            if (files.length > 0) {
                data.append("UploadedImage", files[0]);
            }
            // Make Ajax request with the contentType = false, and processData = false
            var ajaxRequest = $.ajax({
                type: "POST",
                url: "@Url.Action("UploadFile", "ProcessType")",
                contentType: false,
                processData: false,
                data: data,
                success: function (response) {
                    if (response.errormessage == '0') {
                        $("#uploadattachement").empty();
                        var p1 = document.createElement('p');
                        p1.textContent = "عملیات با موفقیت انجام شد";
                        var p2 = document.createElement('p');
                        p2.textContent = "فایل با موفقیت بارگذاری گردید";
                        p1.style = "color:green;"
                        p2.style = "color:green;"
                        var divupload = document.getElementById('uploadattachement');
                        var imageidhidden = document.getElementById('ImageId');
                            imageidhidden.value = response.mediaid;
                            var img = document.createElement('img');
                            img.src = "@Url.Action("GetImage","Organization")"+ '/?id=' + response.mediaid;
                            img.className = "image-upload";
                            divupload.appendChild(img);
                            divupload.appendChild(p1);
                            divupload.appendChild(p2);
                    } else {
                        $("#uploadattachement").empty();
                        var divupload = document.getElementById('uploadattachement');
                        var p1 = document.createElement('p');
                        p1.textContent = "متاسفانه در عملیات بارگذاری فایل خطایی رخ داده است. لطفا مجددا تلاش نمایید.";
                        p1.style = "color:red;"
                        var p2 = document.createElement('p');
                        p2.textContent = "جزئیات خطا: " + response.errormessage;
                        p2.style = "color:red;"
                        divupload.appendChild(p1);
                        divupload.appendChild(p2);
                    }
                },
                error: function (er) {
                    $("#uploadattachement").empty();
                    var divupload = document.getElementById('uploadattachement');
                    var p1 = document.createElement('p');
                    p1.textContent = "متاسفانه در عملیات بازگذاری فایل خطایی رخ داده است. لطفا مجددا تلاش نمایید.";
                    var p2 = document.createElement('p');
                    p2.textContent = "جزئیات خطا: " + er.responseText;
                    p1.style = "color:red;"
                    p2.style = "color:red;"
                    divupload.appendChild(p1);
                    divupload.appendChild(p2);
                }
            });

            ajaxRequest.done(function (xhr, textStatus) {
                // Do other operation
            });
        });
    }
</script>