@using Microsoft.AspNet.Identity
@using BSIActivityManagement.Extensions
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right BKourosh">
        <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img width="35" height="35" src="@Url.Action("GetImage","Account",new { id = User.GetImageId()})" /></a>
                    <ul class="dropdown-menu">
                        <li>
                            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" , @class = "FontMotavaset" })
                        <hr class="HRMenu"/>
                        </li>
                        <li>@Html.ActionLink("تنظیمات کاربری", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "FontMotavaset" })</li>
                        <li>@Html.ActionLink("محل خدمت", "Index", "UserPlacement", routeValues: null, htmlAttributes: new { title = "ثبت درخواست جابجایی محل خدمت", @class = "FontMotavaset" })</li>
                        <li><a class="FontMotavaset" href="javascript:document.getElementById('logoutForm').submit()">خروج</a></li>
                    </ul>
                </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("نام نویسی", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "BKourosh FontBozorg" })</li>
        <li>@Html.ActionLink("ورود به سیستم", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "BKourosh FontBozorg" })</li>
    </ul>
}
