<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/persiancss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("سیستم مدیریت فرآیندی", "Index", "Home", new { area = "" }, new { @class = "navbar-brand BTitrTGEBold FontBozorg LogoColor" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("خانه", "Index", "Home", null, new { @class = "BKourosh FontBozorg" })</li>
                    <li>@Html.ActionLink("درباره ما", "About", "Home", null, new { @class = "BKourosh FontBozorg" })</li>
                    <li>@Html.ActionLink("تماس با ما", "Contact", "Home", null, new { @class = "BKourosh FontBozorg" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $("body").fadeIn(700);
            $("a.transition").click(function (event) {
                event.preventDefault();
                linkLocation = this.href;
                $("body").fadeOut(500, redirectPage);
            });

            function redirectPage() {
                window.location = linkLocation;
            }
        });
    </script>
</body>
</html>
