<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - سیستم مدیریت فرآیندی</title>
    @Styles.Render("~/Content/persiancss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/SideBar")
</head>
<body>
    <header class="cd-main-header BTitrBold FontBozorg">
        @Html.ActionLink("سیستم مدیریت فرآیندی", "Index", "Home", new { area = "" }, new { @class = "cd-logo BTitrTGEBold FontKoochik LogoColor" })
        <div class="cd-search is-hidden">
            <form action="#0">
                <input type="search" placeholder="Search...">
            </form>
        </div> <!-- cd-search -->
        <a href="#0" class="cd-nav-trigger"><span></span></a>
        <nav class="cd-nav">
            <ul class="cd-top-nav">
                @Html.Partial("_LoginPartial")
            </ul>
        </nav>
    </header> <!-- .cd-main-header -->

    <main class="cd-main-content BTitrBold">
        <nav class="cd-side-nav is-fixed">
            <ul>
                <li class="cd-label">منوی مدیریت</li>
                <li> <a href="@Url.Action("Index","SysAdmin")#Org0">مدیریت گروه سازمانی</a> </li>
                <li class="has-children bookmarks">
                    <a href="#0">مدیریت فرآیندها</a>
                    <ul>
                        <li><a href="@Url.Action("Index","SysAdmin")#Prcs0">افزودن فرآیند جدید</a></li>
                        <li><a href="@Url.Action("Index","SysAdmin")#AddProcessType">افزودن نوع برای فرآیندها</a></li>
                    </ul>
                </li>
                <li class="has-children overview">
                    <a href="#0">مدیریت فعالیتها</a>
                    <ul>
                        <li><a href="@Url.Action("Index","SysAdmin")#AddActivity">افزودن فعالیت جدید</a></li>
                        <li><a href="@Url.Action("Index","SysAdmin")#AddActivityType">افزودن نوع برای فعالیتها</a></li>
                        <li><a href="@Url.Action("Index","SysAdmin")#AddActivityItemType">افزودن نوع برای اجزاء فعالیتها</a></li>
                    </ul>
                </li>
                <li class="has-children users">
                    <a href="#0">مدیریت کاربران ارشد</a>
                    <ul>
                        <li><a href="@Url.Action("Index","SysAdmin")#AddUserType">افزودن نوع کاربری جدید</a></li>
                        <li><a href="@Url.Action("Index","SysAdmin")#AddAccessType">افزودن نوع دسترسی جدید</a></li>
                        <li><a href="@Url.Action("Index","UnitManager")">افزودن مسئول واحد</a></li>
                        
                    </ul>
                </li>
                <li class="has-children users">
                    <a href="#0">مدیریت کاربران عادی</a>
                    <ul>
                        <li><a href="@Url.Action("Index","UserTypeManager")">تغییر نوع کاربری</a></li>
                        <li><a href="@Url.Action("ResetPasswordAdmin","Account")">تغییر کلمه عبور کاربر</a></li>
                        <li><a href="@Url.Action("Index","SysAdmin")">افزودن نوع دسترسی جدید</a></li>
                        <li><a href="@Url.Action("Index","UnitManager")">افزودن مسئول واحد</a></li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li class="cd-label">فضای کاری</li>
                <li class="action-btn"><a href="@Url.Action("Unit","Main")">ورود</a></li>
            </ul>
        </nav>
        <div class="content-wrapper">
        <hr />
            @RenderBody()
        </div> <!-- .content-wrapper -->
    </main> <!-- .cd-main-content -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/SideBar")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $(".content-wrapper").fadeIn(700);
            $("a.transition").click(function (event) {
                event.preventDefault();
                linkLocation = this.href;
                $(".content-wrapper").fadeOut(500, redirectPage);
            });

            function redirectPage() {
                window.location = linkLocation;
            }
        });
    </script>
</body>
</html>
