@model  BSIActivityManagement.ViewModel.MainViewModelProcesses
@{
    ViewBag.Title = "فرآیندهای سازمان";
    ViewBag.Nav = Model.Navigation;
    Layout = "~/Views/Shared/_PersianLayoutLogin.cshtml";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default LinkPanel main-panel-circle">
                <div class="panel-body LinkPanelBody main-panel-circle">
                    <img class="Image-Link-250 img-circle" src="@Url.Action("GetImage","Home",new { id = Model.Unit.Organization.Image.Id})" />
                </div>
                <div class="panel-footer BMitra text-center TitrShadow footer-header panel-circle main-panel-circle">
                    @Model.Unit.Organization.Name
                </div>
            </div>
        </div>
        <div class="col-md-8 text-center">
            <h2 class="BTitrBold TitrShadow fontkheilibozorg text-center">
               فرآیندهای  @Model.Unit.Name
            </h2><hr style="color:black;" />
            <p class="TitrShadow BMitra text-center">
                @Model.Unit.Description
            </p>
        </div>
    </div>
    <a style="position:absolute;left:10px;" href="@Url.Action("Unit", "Main")"><i class="fa fa-2x fa-arrow-circle-left"></i></a>
</div>

@if (Model.Processes.Count() == 0)
{
    <p class="text-center">
        هیچ فرآیندی برای نمایش موجود نیست
    </p>
}
<div class="row">
    @foreach (var p in Model.Processes)
    {
        <div class="col-sm-4">
            <div id="@Html.Raw("Prcs"+p.Id)" class="panel panel-default LinkPanel box-btn-shadow BTitrBold FontKoochik">
                <a class="transition" href="@Url.Action("ProcessActivities","Main", new {UnitId = Model.Unit.Id, ProcessId = p.Id })">
                    <span class="PanelLinkSpan"></span>
                </a>
                <div class="panel-body LinkPanelBody"><img class="Image-Link-250" src="@Url.Action("GetImage","Home",new { id = p.ProcessType.Image.Id})" /></div>
                <div class="panel-footer text-center">@p.Name</div>
            </div>
        </div>
    }
</div>